/*
1. Posicionamiento
2. Modelo de caja (model box)
3. Tipografía
4. Visuales
5. Otros
*/

/*Estilos generales*/
:root {
    /*Colores*/
    --bitcon-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*Header*/
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 32.0rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__logo {
    width: 15.0rem;
    height: 2.4rem;
    margin-top: 6.0rem;
    /*align-self: center;*/
}

.header__title-container {
    width: 90%;
    /*288rem porque es el 90% de 320(que es minimo tamaño de pantalla en los celulares)*/
    min-width: 28.8rem;
    max-width: 90.0rem;
    height: 21.8rem;
    margin-top: 4.0rem;
    /*align-self: center;
    text-align: center;*/
}

.header__title {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__text {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 50.0rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    left: calc(50% - 11.4rem);
    top: 27.0rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button-icon {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1.0rem;
    background-image: url('./assets/icons/arrow-down.svg');
}

/*Main*/
.main {
    width: 100%;
    min-width: 32.0rem;
    height: auto;
    background-color: var(--off-white);
}

.main-section-container {
    width: 100%;
    height: auto;
    padding-top: 8.0rem;
    padding-bottom: 3.0rem;
    text-align: center;
}

.main-section-container__title-container {
    width: 90%;
    /*288rem porque es el 90% de 320(que es minimo tamaño de pantalla en los celulares)*/
    min-width: 28.8rem; 
    max-width: 90.0rem;
    margin: 0 auto;
}

.main-section-container__background-Img {
    width: 20.0rem;
    height: 20.0rem;
    margin: 0 auto;
    margin-bottom: 5.0rem;
    background-image: url('./assets/imgs/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-section-container__title {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--black);
}

.main-section-container__text {
    margin-bottom: 4.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #757575;
}